<ul>
<% @cheerup.each do | cheerup | %>
  <li>
    <p><strong>"<%= cheerup.text %>",
    by <%= cheerup.source %></strong>,
    <%= cheerup.category %>,
    <%= cheerup.image %></p>
  </li>
  <li><a href="/cheerups/<%= cheerup.id %>/edit">Edit</a></li>
<% end %>
</ul>